@import "~bootstrap/scss/bootstrap.scss";

.title{
    background-color: grey;
}
.color{
    color: red;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.paragraph{
    font-size: 30px;
    color: lightblue;
}
.image{
    width: 500px;
}
.boton{
    background-color:red;
    color: white;
}
.a{
    background-color: yellow;

}